<div class="container">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text"
      class="form-control" placeholder="Inserisci il tuo nome" [(ngModel)]="nomeUser">
  </div>

  <div class="mb-3">
    <label class="form-label">Cognome</label>
    <input type="text"
      class="form-control" placeholder="Inserisci il tuo cognome" [(ngModel)]="cognomeUser" >
  </div>

  <div class="mb-3">
    <label class="form-label">Età</label>
    <input type="number"
      class="form-control" placeholder="Inseriscila tua età" [(ngModel)]="etaUser">
  </div>

  <input class="btn btn-primary" type="button" (click)="onAggiungiUser()" value="Invia">
</div>

<hr>
<div class="container">

  <div class="row">

    <div class="col-md-6">
      <app-user></app-user>
    </div>

    <div class="col-md-6">
      <app-lista-user [nuovoUser]="utente" ></app-lista-user>
    </div>

  </div>
</div>
