<!-- GOAL: passare i dati da un component all'altro, cioè da dashboard a server e viceversa.  AppComponent sarà il "Gateway" dei miei dati-->
<div class="container">
  <app-dashboard></app-dashboard>
</div>


<!-- App server riceve in input dei dati, questi dati vivono in appComponent -->
<!-- [prop del child dichiarata con @Input] = "prop del parent dichiarata nel .ts" -->

<div class="container">
  <app-server-element [nomeServerChild]="nomeServer" [numConnChild]="numConn"></app-server-element>

  <app-server-element [nomeServerChild]="nomeServer2" [numConnChild]="numConn2" ></app-server-element>

</div>


<!--
  1. Crea un nuovo Component "Computer"
  2. Renderizzalo in un div.container
  3. Passa in @Input() al component Computer delle prop come "nome", "tipo", "id" dichiarate nel parent AppComponent
 -->
